canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
    opacity: 0.1;
}


#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./img/paper01.jpg');
    filter: brightness(1.3);
    opacity: 0.5;
    mix-blend-mode: multiply;
}